/*
 
 TODO: Replace this color hackery with a CSS preprocessing.
 
 ******************** Colour reference chart****************
*************************** comment ********* colour ******** 

box on colour       		bng              #E5FCC2
box off colour       		bfg              #9DE0AD
box window colour           wcol             #45ADA8
box bg colour             	bgc           	 #547980


onColor = "#E5FCC2"
offColor = "9DE0AD"
bgColor = "547980"
windowColor = "45ADA8"
darkColor = "594F4F"


*/

h1,h2,h3 {
	color:/*bng*/#E5FCC2;
}

h2 {
	border-style:solid;
	border-width: 0 0 1px 0;
}
 
#container{
    float:left;
    position:relative;
}
     
.square-on{
 	background-color:/*bng*/#E5FCC2;
 	border-color:/*wcol*/#45ADA8;
 	border-style:solid;
	border-width:1px;
	float:left;
	height: 10px; 
	position:relative;
	width: 10px; 
}
	
.square-off{
	background-color:/*bfg*/#9DE0AD;
	border-color:/*wcol*/#45ADA8;
 	border-style:solid;
	border-width:1px;
	float:left;
	height: 10px; 
	position:relative;
	width: 10px;
}
	
.track-window{
	background-color:/*wcol*/#45ADA8;
	margin:5px; 
	width: 224px;
}
