<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Looperfriend</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/loop.css"/>
  
  <script src="lib/angular/angular.js"></script>
  <script src="js/ui-bootstrap-tpls-0.3.0.js"></script>
  
</head>
<body>
  <h1>Looperfriend</h1>
  <div ng-controller="TrackController" >
  
  	<div id="container" class="row">
		<div class="span4">
  			<h2>Settings</h2>
		    <h3>Beat Duration (milliseconds)</h3>
		    <input type="text" ng-model="model.millisPerBeat" size="30"
           		placeholder="100"><br/>
            <h3>Project Name</h3>
		    <input type="text" ng-model="model.projectName" size="300"
                placeholder="song1"> <br/>
   		  	<button ng-click="model.loadProject()">Load</button>
		  	<button ng-click="model.saveProject()">Save</button>
		  	<button ng-click="model.newModel()">New</button>
	  	</div>
 
  		<div class="span4">
  			<h2>Tracks</h2>
  			<button ng-click="model.addTrack()">Add Track</button>
		  	<ul>
		  		<li ng-repeat="track in model.tracks" class="track-window">
					<button ng-click="track.addPattern()">Add Pattern</button>
					<button ng-click="track.isCollapsed = !track.isCollapsed">Collapse</button>
					<div ng-repeat="i in [] | range:track.patterns.length">
		     			<div class="square-{{track.isActivePattern(i)}}" ng-click="track.switchActivePattern(i)"></div>
		     		</div><br/>
		     		<div collapse="track.isCollapsed">
		  			<form name="voice">
		      			<input type="radio" ng-model="track.voice" value="0">   
		      			<input type="radio" ng-model="track.voice" value="1">  
		      			<input type="radio" ng-model="track.voice" value="2">  
		      			<input type="radio" ng-model="track.voice" value="3"> 
		      			<tt>voice</tt><br/>
		     		</form>
		     		<input type="range" min="0" max="255" ng-model="track.volume"/></br>
			     		<tabs>
			  				<pane heading={{p}} ng-repeat="p in [] | range:track.patterns.length">
			  					<button ng-click="model.armPattern(track.index,p)">Arm</button>
				  				<table>
						  			<tr ng-repeat="i in [] | range:track.i">
						  				<td ng-repeat="j in [] | range:track.j">
						  					<!-- <input type="checkbox"  -->
						  					<div class="square-{{track.getCoordinate(track.patterns[p], $index,$parent.$index)}}"  
						  					    ng-click="track.switchCoordinate(track.patterns[p], $index,$parent.$index)"></div>
						            	</td>
						            </tr>
					            </table>
				            </pane>			            
			           </tabs>
		           </div>
		  		</li>
		  	</ul>
	  	</div>	
  	</div>
  		  	
	<div class="span4" >
		<h2>Scenes</h2>
		<form name="scene">
			<button ng-click="model.addScene()">Add Scene</button><br/>
			<span>
  				<input ng-repeat="i in [] | range:model.sceneCount"
  				type="radio" ng-model="$parent.model.activeScene" ng-value="$index">
  			</span>
 		</form>
	</div>
	  	
  	<div class="span4">
  		<h2>Arrangement</h2>

	        <input type="text" ng-model="model.arrangementString"  size="30"
	               placeholder="1">
	               		  	<button ng-click="model.playMainArrangement()">Play Arrangement</button><br/>
	    <button ng-click="model.play()">Play Scene</button><br/>
	  	<button ng-click="model.stop()">Stop</button><br/>
    </div>	
</div> 
  	


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  
    <!-- Midi.js includes -->
  <script src="./js/MIDI/AudioDetect.js" type="text/javascript"></script>
  <script src="./js/MIDI/LoadPlugin.js" type="text/javascript"></script>
  <script src="./js/MIDI/Plugin.js" type="text/javascript"></script>
  <script src="./js/MIDI/Player.js" type="text/javascript"></script>
  <script src="./js/Window/DOMLoader.XMLHttp.js" type="text/javascript"></script>
  <script src="./js/Window/DOMLoader.script.js" type="text/javascript"></script>
  <script src="./inc/Base64.js" type="text/javascript"></script>
  <script src="./inc/base64binary.js" type="text/javascript"></script>

  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/midiPlayer.js"></script>
  <script src="js/osc.js"></script>
  <script src="js/sampler.js"></script>
</body>
</html>
